<app-player *ngFor="let player of game.players; let i = index;" class="player-position" [name]="player" [playerActive]="i === game.currentPlayer ? true : false"
    [ngStyle]="{'top.px': 100 + (i * 90)}"></app-player>
<section class="field">

    <div class="card-stack">
        <img *ngFor="let card of [1, 2, 3, 4]; let i = index" [ngStyle]="{'right.px': i * 5}"
            src="assets/img/cards/card_cover.png" alt="The card stack">
        <img (click)="takeCard()" class="top-card" src="assets/img/cards/card_cover.png">
        <img *ngFor="let card of game.playedCards" src="assets/img/cards/{{ card }}.png" class="played-card"
            alt="Played cards">
        <img *ngIf="pickCardAnimation" class="pick-card" src="assets/img/cards/{{ currentCard }}.png">
    </div>

</section>

<button mat-fab class="btn-add" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>

<app-game-instructions class="pin-bottom"></app-game-instructions>