@import './../../../mixins.scss';

.player {
    @include dFlex($g: 16px, $jc: flex-start);
    background-color: rgb(179, 176, 170);
    width: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    >p {
        font-size: 32px;
    }

    >img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.player-active {
    background-color: orange;
}